/* :root edits whole html*/
:root {
    --grid-columns: 1;
    --grid-rows:    1;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(240, 46, 32);
}
#centerButton {
    text-align: center;
    background-color: red;;
}

button {
    color: aliceblue;
    background-color: rgb(56, 56, 56);
    border: 2px solid red;
    height: 25;
    border-radius: 10px;
    font-weight: bolder;
    margin: 20px auto;
}

/* Place the grid within the container using CSS Grid*/
#container {
    background-color: rgb(206, 206, 206);
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    border: 1px solid black;
}

/* item within the grid*/
.grid-item {
    height: 30px;
    width: 30px;
    border: 1px solid #ddd;
    text-align: center;
    transition: ease 3s all;
}

div.grid-item:hover{
    background-color: rgb(23, 24, 24);
    transition: ease 0.5s all;
}